# Secrets
.env
*.env
.env.local
.env.production

# Node
node_modules/
dist/
build/

# Java
target/
*.class
*.jar

# Python
__pycache__/
venv/
*.pyc

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db